body{
    background-color: #181562;
}

.photo-aboutus{
    margin-top: 80px;
}

.text-aboutUs{
    text-align: center;
    margin-top: 80px;
    font-size: 60px;
}




.container-service{
    margin-top: 100px;
}
.container-service .card-service {

    background-color: #3329a0;;
    height: 260px;
    border-radius: 20px;
    margin-top: 30px;
}

.container-service .card-service .judul-service{
    color: white;
    text-align: center;
    margin-top: 0;
    margin-top: 20px;
}

.container-service .card-service .artikel-service{
    color: white;
    text-align: center;

}

.icon-service{

   display: flex;
   justify-content: center;
   margin-top: 40px;
    
    
}


.service-artikel{
    font-size: 20px;
}


.container{
    margin-top: 150px;
}

.container-contact{
    display: flex;
    justify-content: center;
}

.contact-form {
    background-color: #3329a0;
    border-radius: 0.5rem;
    padding: 2rem;
}


.contact-form h2 {
    color: #ffffff;
}

.location h2, .location p{
    color: #ffffff;
}
.contact-form p {
    color: #ffffff;
}
.btn-custom {
    background-color: #2929da;
    color: #ffffff;
}

.map  {
    height:320px;
    width: 100px;
}

